* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;

  }
body {
    background-image: linear-gradient(#2f455c, #6998c6);

}
#space {
    width: 100%;
    height: 30vh;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 4px 6px, 130px 270px, 70px 100px;
}
#termo {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(black, #2f455c);
}
#strato {
    width: 100%;
    height: 100vh;
}
#mezo {
    width: 100%;
    height: 100vh;
    border-top: 0.5rem solid #ffc600;
}
#tropo {
    width: 100%;
    height: 100vh;
}
#start {
    background-color: #117c13	;
    width: 100%;
    height: 10vh;
}
.szoveg {
    position: relative;
    top: 15%;
    padding: 20vh;
    font-size: large;
}
h1 {
    font-size: 5em;

}
::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#urhajo {
    width:6rem;
    height:10rem;
    position: fixed;
    bottom: 7rem;
    right: 5rem;
}